.bg-violet{
    background: rgb(138,31,214);
    background: linear-gradient(153deg, #7754F6, #A099FB);
}

.btn-violet{
    background: #7754F6 !important;
    color: white;
    border: none;
    -webkit-box-shadow: 8px 16px 33px -10px rgba(119,84,246,0.78);
    -moz-box-shadow: 8px 16px 33px -10px rgba(119,84,246,0.78);
    box-shadow: 8px 16px 33px -10px rgba(119,84,246,0.78);    
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}